.App {
  text-align: center;
  background-color: #282c34;
  color: #61dafb;
  padding: 50px;
}

.divider {
  background-color: #61dafb;
}

.MainHeader {
  padding-bottom: 25px;
}

.HeaderContent {
  font-family: 'Comfortaa', cursive;
}

.Footer .ui.blue.inverted.animated.button{
  float: left;
  height: 25px;
  width: 80px;
  padding-left: 7px;
  padding-bottom: 20px;
}

.Footer .ui.blue.inverted.animated.button .visible.content{
  font-size: small;
}