* {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    justify-content: auto;
}

.PowerCard {
    color: black;
    float: left;
}

.card_header {
    color: black;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding-top: 15px;
}

.card_description {
  font-size: large;
  border-top: solid;
  border-bottom: solid;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 280px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding: 30px;
}

.itemEarth {
    grid-area: 1 / 2 ;
}

/* .likes_button {
    background-color: black; 
} */

.card_description .ui.blue.inverted.animated.button {
    background-color: black;
    /* height: 25px; */
    font-size: small;
    /* text-align: left; */
}

/* .ui.blue.inverted.animated.button .visible.content{
    font-size: xx-large;
} */