* {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    justify-content: auto;
}

.PowerCard {
    color: black;
    float: left;
}

.header {
    color: black;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border-bottom: solid;
    padding: 15px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 140px;
    height: 140px; */
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly; 
  }

  .item2 {
    grid-area: 1 / 2 / 3 ;
    height: 600px;
    /* height: auto; */
    /* padding: 200px; */
  }

  
  