* {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    justify-content: auto;
}

.accordion {
    /* background-color: black; */
    padding-right: 50px;
    justify-content: auto;

}

/* .ui {
    background-color: red;
} */